<form [formGroup]="form">
  <mat-form-field class="w100">
    <input formControlName="q" type="text" matInput [matAutocomplete]="auto" placeholder="Start searching">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      (onSelectionChange)="onItemChanged(option)"
      *ngFor="let option of filteredOptions | async"
      [value]="option.title">
      {{ option.title }}
    </mat-option>
  </mat-autocomplete>

  <iframe *ngIf="safeURL !== null"
          width="560"
          height="315"
          [src]="safeURL"
          frameborder="0"
          gesture="media"
          allow="encrypted-media"
          allowfullscreen></iframe>
</form>
