<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" opened="true">
    <div><a routerLink="/paste-link" mat-button color="primary">Paste links</a></div>
    <div><a routerLink="/keyword-search" mat-button color="primary">Keyword search</a></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
