<form [formGroup]="form">
  <mat-form-field class="w100">
    <input formControlName="url" matInput placeholder="Insert a link">
  </mat-form-field>

  <iframe *ngIf="safeURL !== null"
          width="560"
          height="315"
          [src]="safeURL"
          frameborder="0"
          gesture="media"
          allow="encrypted-media"
          allowfullscreen></iframe>
</form>
